In [4]:
import pickle
import matplotlib.pyplot as plot
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm
import numpy as np
import pandas as pd
from sklearn import preprocessing
from pandas import DataFrame
from sklearn.gaussian_process.kernels import RBF
from sklearn.model_selection import KFold
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import pickle
from gplearn.genetic import SymbolicClassifier
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.tree import export_graphviz
import pydotplus
import graphviz
from io import StringIO
from IPython.display import Image
import pandas as pd

In [5]:
Element = pd.DataFrame(pd.read_csv('Element_split.csv'))
#HWG0 = HWG.iloc[:,9:-4]
Element

     A1  A2   B  X1  X2 X3 X4
0    Li  Li  Ge   F   F  F  F
1    Li  Li  Ge   F   F  F  F
2    Li  Li  Ge   F   F  F  F
3    Li  Li  Ge   F   F  F  F
4    Li  Li  Ge   F   F  F  F
..   ..  ..  ..  ..  .. .. ..
635  Rb  Rb  Sn  Cl  Cl  I  I
636  Rb  Rb  Sn  Cl  Cl  I  I
637  Rb  Rb  Sn  Cl  Cl  I  I
638  Rb  Rb  Sn  Cl  Cl  I  I
639  Rb  Rb  Sn  Cl  Cl  I  I

[640 rows x 7 columns]

In [9]:
A1 = pd.DataFrame(Element["A1"])
A2 = pd.DataFrame(Element["A2"])
B = pd.DataFrame(Element["B"])
X1 = pd.DataFrame(Element["X1"])
X2 = pd.DataFrame(Element["X2"])
X3 = pd.DataFrame(Element["X3"])
X4 = pd.DataFrame(Element["X4"])

In [10]:
A1

     A1
0    Li
1    Li
2    Li
3    Li
4    Li
..   ..
635  Rb
636  Rb
637  Rb
638  Rb
639  Rb

[640 rows x 1 columns]